<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Add Meeting</title>
    <link rel="stylesheet" href="../static/addmeet.css">
</head>
<body>

 {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center" role="alert" id="myAlert" style="top:100px; width:230px; left:700px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        {% endif %}

       
                   {% comment %} <li id="e" >
                        <a  type="button" href="logoutUser"><button id="logout">Logout</button></a>
                   </li> {% endcomment %}
           
    <p>
                <div id="mySidenav" class="sidenav">
                    <div class="insidehamburger">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>   
                    </div>
                    <span id= "dot1"></span>
                    <ul class="meetbar">      
                        <li>  <a href="/showAppointments">Dashboard </a></li>
                        <li>   <a href="/addAppointment">Add meeting </a></li>
                        <li>   <a href="/showAppointments">My meeting </a></li>
                        <li>  <a href="#">Profile </a></li>
                        <li> <a  type="button" href="logoutUser"><button id="logout">Logout</button></a><li>
                    </ul>  
                </div>
                <div id="outsideham">
                    <span class="menu" style="font-size:36px;cursor:pointer" onclick="openNav()">&#9776; </span>
                </div>
           </p>
    
        <img src="../static/imgs/cl.png" style="height:550px; width:550px; margin-top:-50px; margin-left:60px;">
   

<form action="addAppointment" method="post">

{% csrf_token %}

    <input  placeholder="Meeting Title" id="meetTitle" name="name" class="titlebox" minlength="5">

    <textarea  placeholder="Meeting Description" id="description" name="description" class="dscbox" minlength="10"></textarea>

    <div name="urgency">
                   
                   <select class="urgbox" required placeholder="Urgency" name="urgency" style="border-radius:15px;"> 
                       <option value="" disabled selected hidden>Urgency</option>
                       <option value="high" name="urgency">High</option>
                       <option value="low" name="urgency">Low</option>
                    </select>
                </p>
    </div>

    <div name="type">
                   
                   <select class="typebox" required placeholder="Meeting type" name="type" style="border-radius:15px;"> 
                       <option value="" disabled selected hidden>Meeting type</option>
                       <option value="upcoming" name="urgency">Upcoming</option>
                       <option value="undecided" name="urgency">To be decided</option>
                       <option value="completed" name="urgency">Completed</option>
                    </select>
                </p>
    </div>

    <input class="datebox" id="meetDate"  name="date" required pattern="\d{4}-\d{2}-\d{2}" placeholder="Meeting date (YYYY-MM-DD)">
    <!--<input class="timebox" id= "meetTime"  name="time" placeholder="Meeting Timing (Ex: 9:00 AM)">-->

    <input type="time" class="timebox" id="meettime" name="time" required>

    <textarea  placeholder="Member's Emails" id="emails" name="emails" class="emailbox" minlength="10"></textarea>


    <input id="donebutton" class="Donebtn" type ="submit" value= "Done" >
</form>

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0px";
    }

    
    setTimeout(()=>{
        var alertId = document.getElementById('myAlert')
        alertId.classList.add('modal')
    },2000);
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>