<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar-light">
        <ul class="nav justify-content-center">

            <li class="nav-item" id="a">
                <a class="text-light btn" href=""><h3>Home</h3></a>
            </li>

            <span class="dot"></span>

            <li class="nav-item" id="b">
                <a class="text-light btn" href="#"><h3>Calendar</h3></a>
            </li>
            <li class="nav-item" id="c">
                <a class="text-light btn" href="contact"><h3>About</h3></a>
            </li>
            <li class="nav-item" id="d">
                <a class="text-light btn" href="contact"><h3>Contact us</h3></a>
            </li>

            <li class="nav-item" id="e">
                <a href="loginUser"><button id="login">Login</button></a>
                <div class="vertical" id="a"></div>
                <a href="register"><button id="register">Register</button></a>
            </li>

            <div class="vertical" id="line"></div>
        </ul>
    </nav>

    <div class="container">
        <div class="headings">

            <div class="header">
                <h1 class="headtext" id="main">Managing Your Meets have Never been</h1>
                <!-- <h1 class="headtext" id="main2">Meets have Never been</h1> -->
                <div id="easy"><h1 class="easy">Easier</h1></div>
                <div class="workspace">
                    <img src="/static/imgs/workspace.png" alt="workspace" id="workspace">
                </div>
            </div>

            <a href="register"><button id="startnow">Start Now</button></a>
        </div>

        <div class="offering">
            <h3 id="offertext">What are we offering</h3>

            <div class="row">
                <div class="column">
                    <img src="/static/imgs/add.png" alt="Add appointment" id="addAppointment">
                    <p id="addtext">Add your appointment</p>
                </div>
                <div class="column">
                    <img src="/static/imgs/edit.png" alt="Edit" id="edit">
                    <p id="edittext">Edit or delete at your ease</p>
                </div>
                <div class="column">
                    <img src="/static/imgs/reminder.png" alt="Remind" id="remind">
                    <p id="remindtext">Remind you so you don't miss</p>
                </div>
            </div>
        </div>

        <div class="whatwedo">
            <img src="" alt="">
            <h2 id="whatwedotext">What we do</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quae accusantium doloribus molestiae! Corrupti sapiente alias doloribus, temporibus necessitatibus cupiditate omnis quia, ex maxime quo quod. Pariatur voluptate perferendis distinctio enim nemo, magnam, odit accusantium porro incidunt soluta beatae, reiciendis commodi ipsum repellendus. Autem, inventore. Tempora neque, impedit deserunt aliquam possimus ipsam quis excepturi vitae animi quisquam autem tempore at, repellat laborum, tenetur consequuntur. Sunt, voluptates recusandae! Commodi aspernatur suscipit tempore recusandae error iure exercitationem in quam animi eaque. A, vitae! Impedit, animi aperiam iure facere fugiat laudantium! Repellat deserunt voluptas impedit commodi suscipit asperiores? Eligendi maiores vero asperiores a?</p>
        </div>

        <div class="testimonials">
            <h3 id="testhead">Testimonials</h3>

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonial">
                            <img src="/static/imgs/robot.png" alt="robot" id="robot">
                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam et amet voluptatem officiis, deserunt provident commodi eveniet, nulla natus incidunt laborum, unde rem laudantium aliquid quos error reiciendis nostrum quis blanditiis voluptatum doloribus pariatur eaque ab. Illo ipsam temporibus totam nesciunt earum reiciendis voluptatem magni vitae quam velit? Recusandae, ipsam.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial">
                            <img src="/static/imgs/robot.png" alt="robot" id="robot">
                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam et amet voluptatem officiis, deserunt provident commodi eveniet, nulla natus incidunt laborum, unde rem laudantium aliquid quos error reiciendis nostrum quis blanditiis voluptatum doloribus pariatur eaque ab. Illo ipsam temporibus totam nesciunt earum reiciendis voluptatem magni vitae quam velit? Recusandae, ipsam.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial">
                            <img src="/static/imgs/robot.png" alt="robot" id="robot">
                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam et amet voluptatem officiis, deserunt provident commodi eveniet, nulla natus incidunt laborum, unde rem laudantium aliquid quos error reiciendis nostrum quis blanditiis voluptatum doloribus pariatur eaque ab. Illo ipsam temporibus totam nesciunt earum reiciendis voluptatem magni vitae quam velit? Recusandae, ipsam.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="footer">

            <span class="dot" id="cir1"></span>
            <span class="dot" id="cir2"></span>
            <span class="dot" id="cir3"></span>

            <div class="company">
                <h3 id="comname">Company name</h3>
                <p id="comtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident suscipit mollitia nam natus officiis, dicta iste laboriosam similique quia voluptas enim possimus, magnam, animi ducimus. Exercitationem quae distinctio voluptate voluptatem accusamus.</p>
            </div>

            <div class="vertical" id="divide1"></div>

            <div class="contact">
                <h3 id="contacthead">Contact us</h3>
                <form action="">
                    <input type="text" name="name" id="name" placeholder="Your Name">

                    <input type="email" name="email" id="email" placeholder="Your Email">

                    <textarea rows="4" cols="50" placeholder="Purpose" id="purpose" name="purpose"></textarea>

                    <button type="submit" id="submit">Submit</button>
                </form>
            </div>

            <div class="vertical" id="divide2"></div>

            <div class="links">
                <h3 id="linkhead">Quick Links</h3>

                <p id="home" class="links"><a href="">Home</a></p>
                <p id="about" class="links"><a href="about">About</a></p>
                <p id="contact" class="links"><a href="contact">Contact Us</a></p>
                <p id="team" class="links"><a href="team">Team</a></p>
                <p id="tech" class="links"><a href="">Technology</a></p>
                <p id="linklast" class="links"><a href="">Careers</a></p>
            </div>
        </div>

    </div>
    <script src="" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>