<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My meetings</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/meetings.css"> 
    </head>
    <nav class="navbar-light">
        <ul class="nav justify-content-center">

            <li class="nav-item" id="a">
                <a class="text-light btn" href=""><h3>Home</h3></a>
            </li>

            <span class="dot"></span>

            <li class="nav-item" id="b">
                <a class="text-light btn" href="#"><h3>Calendar</h3></a>
            </li>
            <li class="nav-item" id="c">
                <a class="text-light btn" href="contact"><h3>About</h3></a>
            </li>
            <li class="nav-item" id="d">
                <a class="text-light btn" href="contact"><h3>Contact us</h3></a>
            </li>
        </ul>
    </nav>
    <!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button">Dashboard</a>
    <a href="#" class="w3-bar-item w3-button">Add Meeting</a>
    <a href="#" class="w3-bar-item w3-button">My Meetings</a>
    <a href="#" class="w3-bar-item w3-button">Profile</a>
  </div>
  <div style="margin-left:25%">
    <body>
        
        <div class="dropdown">
            <details>
              <summary>
                <div class="dropdown-trigger">
                  Upcoming
                <div>
              </summary>
              {% for appointment in appointments %}
              <div class="dropdown-content">
                    <summary>
                        <!--<div class="dropdown-trigger">
                            Marketting Team
                        </div> -->
                        {{appointment.name}}
                    </summary> 
                <div class="dropdown content">
                    <ul>
                        <li>Urgency: {{appointment.urgency}}</li>
                        <li>Date: {{appointment.date}}</li>
                        <li>Time: {{appointment.time}}</li>
                        <li>Description: {{appointment.description}} </li>
                    </ul>
                    <a href="deleteAppointment/{{appointment.id}}"><button type="button">Cancel</button></a>
                    <a href="updateAppointment/{{appointment.id}}"><button type="button">Reschdule</button></a>
                </div> 
                {% endfor %}
                </summary>
             </div>
            </details>
          </div>
          <div class="dropdown">
            <details>
              <summary>
                <div class="dropdown-trigger">
                  Undecided
                <div>
              </summary>
              
              <div class="dropdown-content">
                Dropdown content here…
              </div>
            </details>
          </div>
          <div class="dropdown">
            <details>
              <summary>
                <div class="dropdown-trigger">
                  Completed
                <div>
              </summary>
              
              <div class="dropdown-content">
                Dropdown content here…
              </div>
            </details>
          </div>
        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </div>
    </html>    