<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>My Meetings</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
      <link rel="stylesheet" href="../static/meetings.css">
  </head>
  <body>
    
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center" role="alert" id="myAlert" style="top:100px; width:230px; left:700px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        {% endif %}

    <!-- Sidebar -->
           <p>
                <div id="mySidenav" class="sidenav">
                    <div class="insidehamburger">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>   
                    </div>
                    <span id= "dot1"></span>
                    <ul class="meetbar">      
                        <li>  <a href="/showAppointments">Dashboard </a></li>
                        <li>   <a href="/addAppointment">Add meeting </a></li>
                        <li>   <a href="/showAppointments">My meeting </a></li>
                        <li>  <a href="#">Profile </a></li>
                        <li> <a  type="button" href="logoutUser"><button id="logout">Logout</button></a><li>
                    </ul>  
                </div>
                <div id="outsideham">
                    <span class="menu" style="font-size:36px;cursor:pointer" onclick="openNav()">&#9776;</span>
                </div>
           </p>
    

        <main>
           <article>
                <h1><b>Upcoming</b></h1>
                
                    <div id="accordion" class="upcoming">
                    {% for appointment in upcoming %} 
                        <div class="card" id="upcoming">
                            <div class="card-header" id="headingOne">
                                    <div class="mb-5">
                                        <b><h4 style="font-size:30px; float:left;">{{appointment.name}}<h4></b>
                                        
                                        <p style="font-size:20px; float:right;">{{appointment.date}} | Timing: {{appointment.time}}</p>
                                        <br>
                                        <br>
                                        <p style="font-size:16px; float:left;">Urgency: {{appointment.urgency}}</p>
                                        <button class="btn btn-link" style="float:right;" data-toggle="collapse" data-target="#{{appointment.id}}" aria-expanded="true" aria-controls="{{appointment.id}}">  <span style='font-size:20px; color:#364764'>&#9947;</span></button>
                                    </div>
                            </div>
                            

                            <div id="{{appointment.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p style="font-size:22px; padding:0px 40px 0px 40px">{{appointment.description}}</p>
                                        <div class= "btnpos">

                                            <a href="/deleteAppointment/{{appointment.id}}"><button type="button">Cancel</button><a>
                                            <span class= "seperator"></span>
                                            <a href="/updateAppointment/{{appointment.id}}"><button type="button">Reschdule</button><a>
                                        </div>
                                </div>
                            </div>
                       </div>
                 </div>
                                        
                    {% comment %} </div> {% endcomment %}
               {% endfor %} 
           </article>

           
          <article>
            <h1><b>Undecided</b></h1>
            {% for appointment in undecided %}
                   <div id="accordion" class="upcoming">
                        <div class="card" id="undecided">
                            <div class="card-header" id="headingOne">
                                    <div class="mb-5">
                                        <b><h4 style="font-size:30px; float:left;">{{appointment.name}}<h4></b>
                                        
                                        <p style="font-size:20px; float:right;">{{appointment.date}} | Timing: {{appointment.time}}</p>
                                        <br>
                                        <br>
                                        <p style="font-size:16px; float:left;">Urgency: {{appointment.urgency}}</p>
                                        <button class="btn btn-link" style="float:right;" data-toggle="collapse" data-target="#{{appointment.id}}" aria-expanded="true" aria-controls="{{appointment.id}}"><span style='font-size:20px; color:#364764'>&#9947;</span></button>
                                    </div>
                            </div>
                            

                            <div id="{{appointment.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p style="font-size:22px; padding:0px 40px 0px 40px">{{appointment.description}}</p>
                                        <div class= "btnpos">

                                            <a href="/deleteAppointment/{{appointment.id}}"><button type="button">Cancel</button><a>
                                            <span class= "seperator"></span>
                                            <a href="/updateAppointment/{{appointment.id}}"><button type="button">Reschdule</button><a>
                                        </div>
                                </div>
                            </div>
                       </div>
                 </div>
                {% endfor %}
          </article>
          
          <article>
            <h1><b>Completed</b></h1>
            {% for appointment in completed %}
                     <div id="accordion" class="upcoming">
                        <div class="card" id="completed">
                            <div class="card-header" id="headingOne">
                                    <div class="mb-5">
                                        <b><h4 style="font-size:30px; float:left;">{{appointment.name}}<h4></b>
                                        
                                        <p style="font-size:20px; float:right;">{{appointment.date}} | Timing: {{appointment.time}}</p>
                                        <br>
                                        <br>
                                        <p style="font-size:16px; float:left;">Urgency: {{appointment.urgency}}</p>
                                        <button class="btn btn-link" style="float:right;" data-toggle="collapse" data-target="#{{appointment.id}}" aria-expanded="true" aria-controls="{{appointment.id}}"><span style='font-size:20px; color:black;'>&#9947;</span></button>
                                    </div>
                            </div>
                            

                            <div id="{{appointment.id}}" class="collapse show" aria-labelledby="{{appointment.id}}" data-parent="#accordion">
                                <div class="card-body">
                                    <p style="font-size:22px; padding:0px 40px 0px 40px">{{appointment.description}}</p>
                                        <div class= "btnpos">

                                            <a href="/deleteAppointment/{{appointment.id}}"><button type="button">Cancel</button><a>
                                            <span class= "seperator"></span>
                                            <a href="/updateAppointment/{{appointment.id}}"><button type="button">Reschdule</button><a>
                                        </div>
                                </div>
                            </div>
                       </div>
                 </div>
                {% endfor %}
          </article>
        </main>
{% comment %} 
<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0px";
    }


    setTimeout(()=>{
        var alertId = document.getElementById('myAlert')
        alertId.classList.add('modal')
    },2000);


</script> {% endcomment %}


<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0px";
    }

    setTimeout(()=>{
        var alertId = document.getElementById('myAlert')
        alertId.classList.add('modal')
    },2000);
</script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>    