<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My meetings</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/addmeet.css"> 
    </head>
<body>
     <nav class="navbar-light">
               <ul class="nav justify-content-center">
       
                   <li class="nav-item" id="a">
                       <a class="text-light btn" href=""><h3>Home</h3></a>
                   </li>
       
                   <span class="nav-item" id= "dot"></span>
       
                   <li class="nav-item" id="b">
                       <a class="text-light btn" href="#"><h3>Calendar</h3></a>
                   </li>
                   <li class="nav-item" id="c">
                       <a class="text-light btn" href="contact"><h3>About</h3></a>
                   </li>
                   <li class="nav-item" id="d">
                       <a class="text-light btn" href="contact"><h3>Contact us</h3></a>
                   </li>
                   <li  id="e">
                       <a  type="button" href="logoutUser"><button id="logout" class="text-light btn">Logout</button></a>
                   </li>
               </ul>
           </nav>


    <!-- Sidebar -->
            <p>
                <div id="mySidenav" class="sidenav">
                    <div class="insidehamburger">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>   
                    </div>
                    <span id= "dot1"></span>
                    <ul class="meetbar">      
                        <li>  <a href="/showAppointments">Dashboard </a></li>
                        <li>   <a href="/addAppointment">Add meeting </a></li>
                        <li>   <a href="/showAppointments">My meeting </a></li>
                        <li>  <a href="#">Profile </a></li>
                    </ul>  
                </div>
                <div id="outsideham">
                    <span class="menu" style="font-size:36px;cursor:pointer" onclick="openNav()">&#9776;</span>
                </div>
           </p>


        
        <h3 class="text-center">Upcoming</h3>
    {% for high in highs %}
        <div class="text-center" id="high">
            <h4>{{high.name}}</h4>
            <h4>{{high.urgency}}</h4>

            <p>{{high.description}}</p>

            <p>{{high.date}}</p>
            <p>{{high.time}}</p>

            <a href="/deleteAppointment/{{high.id}}"><button>Cancel</button><a>
            <a href="/updateAppointment/{{high.id}}"><button>Reschedule</button><a>
        </div>
    {% endfor %}

        <h3 class="text-center">Undecided</h3>
    {% for med in meds %}
        <div class="text-center" id="med">
            <h4>{{med.name}}</h4>
            <h4>{{med.urgency}}</h4>

            <p>{{med.description}}</p>

            <p>{{med.date}}</p>
            <p>{{med.time}}</p>

            <a href="/deleteAppointment/{{med.id}}"><button>Cancel</button><a>
            <a href="/updateAppointment/{{med.id}}"><button>Reschedule</button><a>
        </div>
    {% endfor %}

        <h3 class="text-center">Completed</h3>
    {% for low in lows %}
        <div class="text-center" id="low">
            <h4>{{low.name}}</h4>
            <h4>{{low.urgency}}</h4>

            <p>{{low.description}}</p>

            <p>{{low.date}}</p>
            <p>{{low.time}}</p>

            <a href="/deleteAppointment/{{low.id}}"><button>Cancel</button><a>
            <a href="/updateAppointment/{{low.id}}"><button>Reschedule</button><a>
        </div>
    {% endfor %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </div>
    </html>    